# Arquivos de cache do Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
venv/
.env/

# Configurações do VSCode
.vscode/

# Arquivos de log
*.log

# Dados temporários
*.tmp
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Arquivos do sistema
Thumbs.db
.DS_Store